# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.temp

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/
